asgiref==3.12.1
celery==5.6.3
channels==4.3.2
channels_redis==4.3.0
cryptography==50.0.1
daphne==4.2.3
Django==6.0.8
django-allauth==65.19.2
django-celery-beat==2.9.0
django-cors-headers==4.9.0
django-environ==0.14.0
django-extensions==4.1
django-filter==26.1
django-jazzmin==3.0.5
django-redis==7.0.0
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
dj-rest-auth==7.2.0
drf-spectacular==0.30.0
factory_boy==3.3.3
Faker==40.38.0
flower==2.1.0
gunicorn==26.2.0
lingua-language-detector==2.2.0
ollama==0.6.2
pydantic==2.13.5
mercadopago==3.5.0
pillow==12.3.0
psycopg2-binary==2.9.12
PyJWT==2.13.0
PyMySQL==1.2.0
pyotp==2.10.0
pywebpush==2.5.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.14.0
pytest-mock==3.15.1
python-dotenv==1.2.3
qrcode==8.2
rapidfuzz==3.14.6
redis==8.1.0
ruff==0.16.6
sentry-sdk==2.68.1
sentence-transformers==6.0.1
SQLAlchemy==2.0.52
stripe==15.6.1
whitenoise==6.12.0
webauthn==3.0.0
