{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'pt-br' }}" class="pdl-docs pdl-docs--redoc">
  <head>
    {% include "pdl_docs/_head.html" %}
    <link rel="stylesheet" href="{% static 'pdl_admin/css/docs.css' %}?v=20260910.1">
    {% include "pdl_ui/_button_assets.html" %}
    {% include "pdl_ui/_language_sync.html" %}
  </head>
  <body>
    {% include "pdl_docs/_topbar.html" with docs_active="redoc" %}
    {% include "pdl_docs/_loader.html" %}
    {% if settings %}
    <div id="redoc-container"></div>
    <script src="{{ redoc_standalone }}"></script>
    <script>
      const redocSettings = {{ settings|safe }};
      Redoc.init("{{ schema_url|escapejs }}", redocSettings, document.getElementById('redoc-container'))
    </script>
    {% else %}
    <redoc spec-url="{{ schema_url }}"></redoc>
    <script src="{{ redoc_standalone }}"></script>
    {% endif %}
  </body>
</html>
